# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz

# vscode
.vscode

# Temp files
tmp
temp

# ENV file
.env

# Dist files
dist